<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {{ partial "head.html" . }}
</head>
<body class="body-kind-{{ .Kind }} body-section-{{ .Section }}{{ if .IsHome }} body-home{{ end }}"{{ if site.Params.comments.enable }} data-waline-server-url="{{ site.Params.comments.serverURL }}"{{ end }}>
  {{ if not .IsHome }}
    {{ partial "header.html" . }}
  {{ end }}
  <main class="site-main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <script src="{{ "js/code-copy.js" | relURL }}" defer></script>
  {{ block "scripts" . }}{{ end }}

</body>
</html>
