<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}</title>
{{ with .Params.description }}<meta name="description" content="{{ . }}">{{ else }}{{ with site.Params.subtitle }}<meta name="description" content="{{ . }}">{{ end }}{{ end }}
{{ $style := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ if .OutputFormats.Get "rss" }}<link rel="alternate" type="application/rss+xml" href="{{ (.OutputFormats.Get "rss").RelPermalink }}">{{ end }}
