<header class="topbar">
  <div class="brand">
    <small>{{ site.Params.archive_english }}</small>
    <strong><a href='{{ "/" | relURL }}'>{{ site.Params.archive_name }}</a></strong>
  </div>
  <nav class="nav">
    {{ $current := . }}
    {{ range site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) (eq $current.RelPermalink .URL) }}
      <a class='nav-link{{ if $active }} active{{ end }}' href='{{ .URL }}'>{{ .Name }}</a>
    {{ end }}
  </nav>
</header>
